<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8">
<title>Jetzt easybank Konto eröffnen | easybank.at</title>
<link rel="canonical" href="{{ page.redirect.to }}">
<script>location = "{{ page.redirect.to }}"</script>
<meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
<meta name="robots" content="noindex">
<h1>Eröffne dein easybank Konto und sichere dich einen Wechselbonus von 50 Euro bei Neueröffnung bis 31.8.2024</h1>
<a href="{{ page.redirect.to }}">empfehlung.easybank.at/sTlNkd</a>
</html>