<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8">
<title>Jetzt N26 Konto eröffnen | n26.com</title>
<link rel="canonical" href="{{ page.redirect.to }}">
<script>location = "{{ page.redirect.to }}"</script>
<meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
<meta name="robots" content="noindex">
<h1>Hey! Eröffne ein N26 Konto mit meinem Empfehlungscode und entdecke intuitives mobiles Banking. Verwende bei der Kontoeröffnung den Code bettinas2974.</h1>
<a href="{{ page.redirect.to }}">n26.com/r/bettinas2974</a>
</html>